.about1{
    background: #fff;
    padding:50px 0 10px 0;
    text-align:center;
    animation-name:a1;
    animation-duration:2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes a1{
    from{
        letter-spacing:20px;
        color:rgba(0,0,0,40%);
    }
    to{
        letter-spacing:1px;
        color:rgba(0,0,0,100%);
    }
}
.about2{
    background:#fff;
    padding:0 0 50px 0;
}