.adm{
    background:#fff;
    padding:50px;
    text-align:center;
}
.adm2{
    text-align:left;
}
.adm2 table{
    width:100%;
}
.adm2 table tr th{
    border:solid 1px #fff;
    padding:15px;
}
.adm2 table tr td{
    border:solid 1px lightgrey;
    padding:15px;
    
}
.adm2 tr td:nth-child(even){
    text-align:right;
}
.adm2 table tr:first-child{
    background:#C25B56;
    color:#fff;
}
.adm2 table tr:last-child{
    font-weight:bold;
}